@import "tailwindcss";

@theme{
    --color-main: #f3ffca;
    --color-greenNeon: #cafd00;
    --color-surface: #0e0e0e;
    --color-neon: "#CCFF00";
    --surface-container-low:"rgb(19,19,19)";
}
 body{
    background-color: #0e0e0e;
 }

::selection {
    background-color:  #cafd00 ;
    color: #0e0e0e;
}
@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  will-change: transform;
}